<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Recipe Explorer</title>
</head>
<body>
  <%- include("partials/header") %> 
  <div class="lists-wrapper">
    <div class="meals-drinks-list-container">
      <%- include("partials/meals-list", { meals }) %>
    </div>

    <div class="meals-drinks-list-container">
      <%- include("partials/drinks-list", { drinks }) %>
    </div>
  </div>

</body>
</html>
